# Python cache
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Linux temporary files
*~

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Generated images (optional)
# images/*.png